<!--main/templates/main/dashboard.html-->

{% extends 'base.html' %}
{% block content %}
<div id="app">
  <div class="d-flex flex-column pt-4 mr-3 fg-style aligns-items-center justify-content-center">
    <div class="">
      <label for="search" class="fs-4">Search for a game by name:</label>
    </div>
    <div class="mb-4">
      <input type="text" v-model="searchTerm" id="search" name="search">
      <button v-on:click="searchGame">Search</button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div v-for="game in searchResults" class="col">
      <div class="card" style="box-shadow: 0 5px 10px #354F52;">
        <img :src="[[ game.background_image ]]" class="card-img-top" alt="Game Picture">
        <div class="card-body ">
          <h5 class="card-title fs-2">[[ game.name ]]</h5>
          <p class="card-text">
          <p>
            Release Date: [[ game.released ]]
          </p>
          <p>
            Genre: [[ game.genres.name ]]
          </p>
          <p>
            Platform(s):
          </p>
          </p>
          <a href="#" v-on:click="addToList (game)" class="btn btn-primary">Add to Wishlist</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fg-style">
    <div>
      {% if user.is_authenticated %}
      <div style="font-family: 'Press Start 2P', cursive" class="fs-4 mt-5 mb-3 text-center text-decoration-underline">
        Games on your wishlist:</div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div v-for="game in gamesSevenAgoList" class="col">
          <div class="card" style="box-shadow: 0 5px 10px #354F52;">
            <img :src="[[ game.background_image ]]" class="card-img-top" alt="Game Picture">
            <div class="card-body">
              <h5 class="card-title fs-2">[[ game.name ]]</h5>
              <p class="card-text">
              <p>
                Release Date: [[ game.released ]]
              </p>
              <p>
                Genre: [[ game.genres.name ]]
              </p>
              <p>
                Platform(s):
              </p>
              </p>
              <a href="#" v-on:click="addToList (game)" class="btn btn-primary">Add to Wishlist</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div style="font-family: 'Press Start 2P', cursive" class="fs-4 mt-5 mb-3 text-center text-decoration-underline">
      Games released in the last 7 days:</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div v-for="game in gamesSevenAheadList" class="col">
        <div class="card" style="box-shadow: 0 5px 10px #354F52;">
          <img :src="[[ game.background_image ]]" class="card-img-top" alt="Game Picture">
          <div class="card-body">
            <h5 class="card-title fs-2">[[ game.name ]]</h5>
            <p class="card-text">
            <p>
              Release Date: [[ game.released ]]
            </p>
            <p>
              Genre: [[ game.genres.name ]]
            </p>
            <p>
              Platform(s):
            </p>
            </p>
            <a href="#" v-on:click="addToList (game)" class="btn btn-primary">Add to Wishlist</a>
          </div>
        </div>
      </div>
    </div>
    <div style="font-family: 'Press Start 2P', cursive" class="fs-4 mt-5 mb-3 text-center text-decoration-underline">
      Games releasing in the next 7 days:</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div v-for="game in gamesSevenAheadList" class="col">
        <div class="card" style="box-shadow: 0 5px 10px #354F52;">
          <img :src="[[ game.background_image ]]" class="card-img-top" alt="Game Picture">
          <div class="card-body">
            <h5 class="card-title fs-2">[[ game.name ]]</h5>
            <p class="card-text">
            <p>
              Release Date: [[ game.released ]]
            </p>
            <p>
              Genre: [[ game.genres.name ]]
            </p>
            <p>
              Platform(s):
            </p>
            </p>
            </p>
            <a href="#" v-on:click="addToList (game)" class="btn btn-primary">Add to Wishlist</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}